<div class="container">
    <h2 class="text-center">Update Info</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" id="name" class="form-control" placeholder="Name" [(ngModel)]="application.applicantName">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" id="email" class="form-control" placeholder="email" [(ngModel)]="application.email">
        </div>
        <div class="form-group">
            <label>MobileNo</label>
            <input type="text" id="number" class="form-control" placeholder="Number" [(ngModel)]="application.mobileNo">
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>

    </form>
</div>