<div class="title"><b>Profile</b></div>
<div class="section">
    <div class="option">
        <h3><a routerLink="/profile/details">Details</a></h3>
    </div>

    <div class="option">
        <h3><a routerLink="/profile/education-details">Education Details</a></h3>
    </div>

    <div class="option">
        <h3><a routerLink="/profile/documents">Documents</a></h3>
    </div>
</div>

<div class="section">
    <div class="option">
        <h3><a routerLink="/profile/settings">Settings</a></h3>
    </div>

    <div class="option">
        <h3><a routerLink="/profile/faq">FAQ</a></h3>
    </div>

    <div class="option">
        <h3><a routerLink="/profile/contact-us">Contact us</a></h3>
    </div>
</div>
