<!-- schemes.component.html -->
<div class="title"><b>All schemes</b></div>
 
 <div class="scheme-title"><h4><b>FAEA Scholarship 2024-25</b></h4></div>

 <div class="schemes">

     <div class="details">
         <details>
             <summary>About</summary>
             <div>
                 1. FAEA Scholarship 2024-25 is an opportunity offered by the Foundation for Academic Excellence and Access<br>
                 2. (FAEA)* to Class 12 passed or first-year undergraduate students pursuing degrees in Arts, Commerce, Science, <br> 
                 Engineering, or other technical and professional fields at any Indian institution.<br> 
                 3. The program aims to provide financial assistance to meritorious students for completing their undergraduate studies.<br> 
                 4. A total of 50 selected candidates will receive tuition fees, maintenance allowance or hostel/mess charges, <br>
                 and other allowances.
             </div>
         </details>
     </div>

     <div class="details">
         <details>
             <summary>Eligibility</summary>
             <div>
                 1. have passed Class 12 from a recognised board in India OR <br>
                 be a first-year undergraduate student enrolled in a program <br>
                 offered by a recognized university, institution, or college in India, <br>
                 in fields including Arts, Commerce, Science, Medical, Engineering, <br>
                 or other technical or professional disciplines<br>
                 belong to the socially and economically disadvantaged sections including <br>
                 the Scheduled Caste (SC)/Scheduled Tribe <br>
                 (ST)/Others Backward Classes (OBC)/Below Poverty Line (BPL) category
             </div>
         </details>
     </div>

     <div class="details">
         <details>
             <summary>Benefits</summary>
             <div>
                 1. A total of 50 selected candidates will receive financial aid for completion of <br>
                 undergraduate courses which includes tuition fees, <br> 
                 maintenance allowance or hostel/mess charges and other allowances to cover <br>
                 travel, clothing and book purchases as per the norms.<br>
                 2. The continuation and amount of the scholarship are, however, subject to <br>
                 good academic performance and funding availability.<br>
                 3. The awards will be withdrawn under the following circumstances:<br>
                 a. Students who fail to maintain satisfactory academic progress.<br>
                 b. Candidates experiencing a physical or mental illness that prevents them <br>
                 from continuing their program of study.<br>
                 c. In the case of the detection of any false declaration by the student.
             </div>
         </details>
     </div>

     <div class="details">
         <details>
             <summary>Documents</summary>
             <div>
                 Academic transcripts, including marksheets and certificates 
             </div>
         </details>
     </div>

     <div class="details">
         <details>
             <summary>Note</summary>
             <div>
                 Students whose Class 12 results are not declared can apply after the results are officially released.<br>
                 General category students can apply for need-based financial grants with a merit component. <br>
                 They must have either scored above 90% marks in their Higher Secondary Exam or secured admission <br>
                 to a top-ranked Institution of Excellence in India.
             </div>
         </details>
     </div>

     <div class="txt">Updates :</div>

     <div class="note">
         <marquee>
             Deadline 30 August 2024  
         </marquee>
     </div>

     <div class="button">
         <a routerLink="/application-form">
             <button type="button">Apply</button>
         </a>
     </div>
 </div>

 <div class="scheme-title"><h4><b>TOEFL India Championship</b></h4></div>

 <div class="schemes">

     <div class="details">
         <details>
             <summary>About</summary>
             <div>
                 The TOEFL India Championship is your chance to win big and take a significant step <br>
                 towards fulfilling your study abroad dreams. <br>
                 This nationwide competition for Indian test takers offers a chance to win prize money worth ₹15 lacs.<br>
                 Here's what awaits you:<br><br>
                 Round 1: Quick and easy registration for the championship. <br>
                 Take a 20-minute quiz between April 5, 2024 and June 10, <br>
                 2024 that tests your English language and numeracy skills. <br>
                 Stand a chance to win cash prizes worth ₹4 lacs. <br>
                 Score more than 35% in Round 1 to automatically qualify for Round 2!<br>
                 Round 2: After clearing the round 1, <br>
                 appear for the TOEFL iBT® test between April 5,2024 and July 31, 2024 <br>
                 to compete for the Grand Prizes. <br>
                 Impressive prizes worth ₹11 lacs to fuel you
             </div>
         </details>
     </div>

     <div class="details">
         <details>
             <summary>Eligibility</summary>
             <div>
                 The TOEFL India Championship is designed to help students like you <br>
                 achieve their study abroad dreams! To participate, <br>
                 an applicant must:<br>
                 be a 3rd or 4th year college student of an undergraduate degree program <br>
                 at an accredited Indian Higher Education Institution;<br><br>OR<br><br>  
                 have completed their undergraduate or graduate studies in India <br>
                 and be looking for higher education abroad;<br>OR<br><br>
                 be a professional with up to two (2) years of verifiable full-time or part-time <br>
                 professional work experience.
             </div>
         </details>
     </div>

     <div class="details">
         <details>
             <summary>Benefits</summary>
             <div>
                 1st Place (1 winner)      ₹50,000<br>
                 2nd Place (2 winners)     ₹40,000 each<br>
                 3rd Place (3 winners)     ₹30,000 each<br>
                 1st Runner up (4 winners) ₹20,000 each<br>
                 2nd Runner up (10 winners)₹10,000 each<br>
             </div>
         </details>
     </div>

     <div class="details">
         <details>
             <summary>Documents</summary>
             <div>
                 Academic transcripts, including marksheets and certificates 
             </div>
         </details>
     </div>

     <div class="details">
         <details>
             <summary>Note</summary>
             <div>
                 Score more than 35% in Round 1 to automatically qualify for Round 2!               
             </div>
         </details>
     </div>

     <div class="txt">Updates:</div>

     <div class="note">
         <marquee>
             Deadline 30 August 2024  
         </marquee>
     </div>

     <div class="button">
         <a routerLink="/application-form">
             <button type="button">Apply</button>
         </a>
     </div>
 </div>
